@model IEnumerable<KeyRegister.Models.Utilisateur>
@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>

@foreach (var utilisateur in Model)
{
    <p>@utilisateur.CampusID</p>
    <p>@utilisateur.DateInscription</p>
    <p>@utilisateur.IdBooster</p>
    <p>@utilisateur.Nom</p>
    <p>@utilisateur.Prenom</p>
    <tr/>
}