@model KeyRegister.ViewModels.LoginVM

@{
                /**/

                Layout = "~/Views/Shared/_LayoutForm.cshtml";
                ViewBag.Title = "Connexion";
}

@if (!string.IsNullOrEmpty(Model.ErrorMessage))
{
    <div class="alert alert-danger">
        @Model.ErrorMessage
    </div>
}

@if (!string.IsNullOrEmpty(Model.SuccessMessage))
{
    <div class="alert alert-success alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        @Model.SuccessMessage
    </div>
}

@using (Html.BeginForm("Login", "User", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <fieldset>
        <div class="form-group">
            @Html.DisplayNameFor(m => m.IdBooster)
            @Html.TextBoxFor(m => m.IdBooster, "", new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.IdBooster, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.DisplayNameFor(m => m.MDP)
            @Html.TextBoxFor(m => m.MDP, "", new { @class = "form-control", @type = "password" })
            @Html.ValidationMessageFor(m => m.MDP, "", new { @class = "text-danger" })
        </div>

        <div class="checkbox">
            <label>
                @Html.CheckBoxFor(m => m.Cookies, new { @type = "checkbox" })
                @Html.DisplayNameFor(m => m.Cookies)
            </label>
        </div>

        <div class="row">
            <div class="col-lg-6 col-md-6 col-xs-12">
                <a href="@Url.Action("Subscribe", "User")" class="btn btn-danger btn-block">S'inscrire</a>
            </div>

            <div class="col-lg-6 col-md-6 col-xs-12">
                <input class="btn btn-success btn-block" type="submit" value="Se connecter" />
            </div>
        </div>

        <div class="row">
            <a href="@Url.Action("Reset", "User")" class="col-lg-12 col-md-12 col-xs-12 btn-link">Mot de passe oublié ?</a>
        </div>
    </fieldset>
}